.cookiePolicy {
    display: none !important;
  }
  .tawk-min-container {
    display: none !important;
  }
  .ftLinkler {
    display: none !important;
  }
  .mobilBasvuru {
    display: none !important;
  }
  
  .egitimFiyat {
    display: none !important;
  }
  
  .mobilGecerliFiyat {
    display: none !important;
  }
  